<p id="notice"><%= notice %></p>

<h1>Coins</h1>


Data: <%= br_date(Date.today) %>


<table>
  <thead>
    <tr>
      <th><%= Coin.human_attribute_name(:description) %></th>
      <th><%= Coin.human_attribute_name(:acronym) %></th>
      <th><%= Coin.human_attribute_name(:acronym) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><img src="<%= coin.url_image%>" width="50px" height="50px"> </td>
        <td><%= link_to I18n.t('links.show'), coin %></td>
        <td><%= link_to I18n.t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to I18n.t('links.delete'), coin, method: :delete, data: { confirm: I18n.t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
