<section class="container card mt-4">
  <div class="card-header">
    <h3 class="card-title">Coin - <%= @coin.id %> </h3>
  </div>
  <div class="card-body">
    <p class="">
      <strong><%= Coin.human_attribute_name(:description) %></strong>
      <%= @coin.description %>
    </p>

    <p>
      <strong><%= Coin.human_attribute_name(:acronym) %></strong>
      <%= @coin.acronym %>
    </p>

    <p>
      <strong><%= Coin.human_attribute_name(:image) %></strong>
      <%= @coin.url_image %>
    </p>

    <p>
      <strong><%= Coin.human_attribute_name(:mining_type) %> </strong>
      <%= @coin.mining_type.description ? @coin.mining_type.description : I18n.t("nothing")  %>
    </p>

    <div>
      <%= link_to t("links.edit"), edit_coin_path(@coin), class: "btn btn-primary" %>
      <%= link_to t("links.back"), coins_path, class: "btn btn-secondary" %>
    </div>
  </div>
</section>

