<h1>Seja Bem-Vindo!</h1>
<p>A lingua usada no sistema: <strong> <%= locale %> </strong> </p>
<p>Data: <%= I18n.l(Date.today) %> </p>

<p> <%= I18n.t('hello') %> </p>

<p> <%= app_name %> </p>


<p>Você está em ambiente de: <%= env_rails %> </p>
<p>Usuario: <%= @nome %> </p>

<%= render "menu" %>